body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

svg {
    background-color: whitesmoke;
}

#tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
}